/* Universal Styles */

body {
  background-image: url("../images/background.png");
  font-size: 14px;
  margin: 0 auto;
  font-family: 'Arial','Helvetica Neue',Helvetica, sans-serif;
  color: whitesmoke;
}

/* Nav Bar  Styles*/
.navbar-brand {
  font-size: 30px;
}

nav{
  border-bottom: 1px whitesmoke solid;
}

nav a{
  font-size: 18px;
}

/* Footer Styles */
footer {
  background-color:#343a40;
  color: #ffffff;
  border-top: 1px whitesmoke solid;
  font-size: 12px;
}

.footer-container {
  margin-top: 20px;
}

.footer-copyright.text-center.py-3 {
  margin-bottom: -15px;
}


.footer-container a{
  color: white;
  text-decoration: none;
}

.footer-container a:hover{
  font-size: 18px;
}


/* About Me Page Styles */
.container.about-me {
  background-color: #343a40;
  margin-top: 90px;
  margin-bottom: 120px;
  padding: 10px 20px;
  border: 1px whitesmoke solid;
}

.container.about-me h1{
  font-size: 30px;
  margin-bottom: -10px;
}

.container.about-me hr {
  background-color: whitesmoke;
}

.container.about-me .row {
  margin-top: 10px;
}

img.img-fluid {
  max-height: 300px;
}

/* Portfolio Page Styles */

.container.portfolio {
  background-color: #343a40;
  margin-top: 90px;
  margin-bottom: 120px;
  padding: 10px 20px;
  border: 1px whitesmoke solid;
  max-width: 800px;
}

.container.portfolio h1{
  font-size: 30px;
  margin-bottom: -10px;
}

.container.portfolio hr {
  background-color: whitesmoke;
}

.container.portfolio .row {
  margin-top: 10px;
}

.d-block.w-100 {
  max-height: 450px;
}

.carousel-caption {
  background-color: #343a40;
  border-radius: 40px;
  padding:10px;
  color:whitesmoke;
  border: 1px white solid
}

.carousel-caption h5 a {
  font-size: 24px;
  color: white
}

/* Contract Page Styles */
.container.contact {
  background-color: #343a40;
  margin-top: 90px;
  margin-bottom: 120px;
  padding: 10px 20px;
  border: 1px whitesmoke solid;
}

.container.contact hr {
  background-color: whitesmoke;
}

.container.contact .row {
  margin-top: 10px;
}

.form-control {
  background-color: lightgrey;
}

label {
  font-size: 18px;
  margin-bottom: 3px;
}